/* Add your global styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

html,body{
  overflow-x: hidden;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .my-grid-item {
    /* Styles that will apply when the viewport is 600px wide or less */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Any other mobile-specific styles */
  main {
    padding: 1rem; /* Example: reduce the padding on smaller screens */
  }

  h1 {
    font-size: 1.5rem;
  }

}